<h2>Cars List</h2>

<div style="margin-bottom:20px;">
	<button pButton type="button" label="New" icon="fa-plus" (click)="addeditCar()"></button>
</div>

<p-dataList [value]="cars" [paginator]="true" [rows]="10">
	<header>
		List of Cars
	</header>
	<template let-car>
		<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:10px;border-bottom:1px solid #D5D5D5;">
			<div class="ui-grid-row">
				<div class="ui-grid-col-10">
					<div class="ui-grid ui-grid-responsive ui-fluid">
						<a class="ui-grid-row" (click)="selectCar(car)" style="cursor:pointer">
							Vin: <span style="color:#8f8f8f">{{car.vin}}</span>, 
							Year: <span style="color:#8f8f8f">{{car.year}}</span>, 
							Brand: <span style="color:#8f8f8f">{{car.brand}}</span>, 
							Color: <span style="color:#8f8f8f">{{car.color}}</span> 
						</a>
					</div>
				</div>
				<div class="ui-grid-col-2" style="text-align:center">
					<a class="fa fa-search" (click)="selectCar(car)" style="cursor:pointer;float:left;" pTooltip="View" tooltipPosition="top"></a>
					<a class="fa fa-pencil" (click)="addeditCar(car)" style="cursor:pointer;float:left;margin-left:10px;" pTooltip="Edit" tooltipPosition="top"></a>
					<a class="fa fa-trash" (click)="deleteCar(car)" style="cursor:pointer;float:left;margin-left:10px;" pTooltip="Delete" tooltipPosition="top"></a>
				</div>
			</div>
		</div>
	</template>
</p-dataList>

<p-dialog header="Car Details" [(visible)]="displayViewDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
	<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedCar" style="font-size:16px;padding:20px">
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Vin: </div>
			<div class="ui-grid-col-8">{{selectedCar.vin}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Year: </div>
			<div class="ui-grid-col-8">{{selectedCar.year}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Brand: </div>
			<div class="ui-grid-col-8">{{selectedCar.brand}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Color: </div>
			<div class="ui-grid-col-8">{{selectedCar.color}}</div>
		</div>
	</div>
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa-close" (click)="displayViewDialog=false" label="Close"></button>			
		</div>
	</footer>
</p-dialog>

<p-dialog header="{{actionName}} Car" [(visible)]="displayAddEditDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
	<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="editedCar" style="padding:20px">
		<form *ngIf="displayAddEditDialog" (ngSubmit)="onSave(f.value, f.valid)" #f="ngForm">
			<input type="hidden" id="vin" [(ngModel)]="editedCar.id" name="id"/>
			<div class="ui-grid-row" style="margin-bottom:10px">
				<div class="ui-grid-col-2">Vin*:</div>
				<div class="ui-grid-col-10">
					<input type="text" pInputText id="vin" required [(ngModel)]="editedCar.vin" name="vin" #vin="ngModel" />
					<div class="ui-message ui-messages-error ui-corner-all" [hidden]="vin.valid || vin.pristine">
						<i class="fa fa-close"></i>
						Vin is required
					</div>
				</div>				
			</div>
			<div class="ui-grid-row" style="margin-bottom:10px">
				<div class="ui-grid-col-2">Year*:</div>
				<div class="ui-grid-col-10">
					<input type="text" pInputText id="year" required [(ngModel)]="editedCar.year" name="year" #year="ngModel" />
					<div class="ui-message ui-messages-error ui-corner-all" [hidden]="year.valid || year.pristine">
						<i class="fa fa-close"></i>
						Year is required
					</div>
				</div>				
			</div>
			<div class="ui-grid-row" style="margin-bottom:10px">
				<div class="ui-grid-col-2">Brand*:</div>
				<div class="ui-grid-col-10">
					<input type="text" pInputText id="brand" required [(ngModel)]="editedCar.brand" name="brand" #brand="ngModel" />
					<div class="ui-message ui-messages-error ui-corner-all" [hidden]="brand.valid || brand.pristine">
						<i class="fa fa-close"></i>
						Brand is required
					</div>
				</div>				
			</div>
			<div class="ui-grid-row" style="margin-bottom:10px">
				<div class="ui-grid-col-2">Color*:</div>
				<div class="ui-grid-col-10">
					<input type="text" pInputText id="color" required [(ngModel)]="editedCar.color" name="color" #color="ngModel" />
					<div class="ui-message ui-messages-error ui-corner-all" [hidden]="color.valid || color.pristine">
						<i class="fa fa-close"></i>
						Color is required
					</div>
				</div>				
			</div>			
			<footer>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa-close" (click)="displayAddEditDialog=false" label="Cancel"></button>
					<button type="submit" pButton icon="fa-check" [disabled]="!f.form.valid" label="Save"></button>
				</div>
			</footer>
		</form>
	</div>
</p-dialog>

<p-dialog header="Confirmation" [(visible)]="displayDeleteConfirmation" modal="modal" showEffect="fade" width="400">	
	<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedCar" style="font-size:16px;padding:20px">
		<div class="ui-grid-col-12" style="margin-bottom:10px">
			<div class="ui-message ui-messages-info ui-corner-all">
				<i class="fa fa-question-circle "></i>
				Are you sure you want to delete selected item?
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Vin: </div>
			<div class="ui-grid-col-8">{{selectedCar.vin}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Year: </div>
			<div class="ui-grid-col-8">{{selectedCar.year}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Brand: </div>
			<div class="ui-grid-col-8">{{selectedCar.brand}}</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">Color: </div>
			<div class="ui-grid-col-8">{{selectedCar.color}}</div>
		</div>
	</div>
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa-close" (click)="displayDeleteConfirmation=false" label="No"></button>
			<button type="button" pButton icon="fa-check" (click)="onDelete(selectedCar)" label="Yes"></button>
		</div>
	</footer>
</p-dialog>
